@import url('https://fonts.googleapis.com/css2?family=Meie+Script&family=Mogra&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Meie+Script&family=Mogra&family=Yatra+One&display=swap');


body{
    background-color: rgb(16, 16, 16);
}

*{
    margin: 0;
}

form{
   position: relative;
    top: 260px;
    left: 550px;
    height: 260px;
    width: 380px;
    background-color: rgb(81, 79, 79);
    border: solid 1px;
    padding: 30px;
    border-radius: 20px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    
    
}

input{
    padding: 6px;
    margin-left: 100px;
    width: 200px;
    
}
button{
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 150px;
    width: 90px;
 }

button:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}
